
include head

<body>
    <header>
         include header
    </header>
    <div class="main-div container">
        <div class="isotope-selectors">
            <div class="sort-select-box">
                <h3>Sorting Options</h3>
                <div class="btn-group sort-by-btn-group" role="group">
                    <button type="button" class="btn btn-primary" data-sort-value="strong">Strongest</button>
                    <button type="button" class="btn btn-default" data-sort-value="weak">Weakest</button>
                    <button type="button" class="btn btn-default" data-sort-value="name">A-Z</button>
                    <button type="button" class="btn btn-default" data-sort-value="nameReverse">Z-A</button>
                </div>
            </div>
            <div class="filter-select-box">
                <h3>Filter Options</h3>
                <div class="btn-group filter-btn-group" role="group">
                    <button type="button" class="btn btn-primary" data-filter="*">Show All</button>
                    <button type="button" class="btn btn-default" data-filter="buff">Buff</button>
                    <button type="button" class="btn btn-default" data-filter="nerf">Nerf</button>
                    <button type="button" class="btn btn-default" data-filter="balanced">Balanced</button>
                </div>
            </div>
        </div>
        <div class='hero-grid'>
            each hero in heroes 
                <div class="hero-wrap col-md-3 col-sm-4 col-xs-6">
                    <img class="standing-img" src="#{hero.img + 'full.png'}">
                    <h2 class='hero-name'>#{ hero.localized_name }</h2>
                    if hero.totalVotes > 0
                        <h2 class="buff" data-category="buff">Buff! Score: <span class='votes'>#{ (hero.totalVotes) }</span></h2>
                    else if hero.totalVotes < 0
                        <h2 class="nerf" data-category="nerf">Nerf! Score: <span class='votes'>#{ (hero.totalVotes)}</span></h2>
                    else
                        if hero.totalVotes == null
                            #{hero.totalVotes = 0}
                        <h2 class="balanced" data-category="balanced">Balanced! Score: <span class='votes'>#{ hero.totalVotes }</span></h2>
                </div>
        </div>
    </div>
    <footer> 
        include footer
    </footer>
    <script src="javascripts/standing-sort.js"></script>
</body>
</html>